@mixin mobile {
    @media (max-width: 738px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @mixin desktop {
    @media (max-width: 1366px) {
      @content;
    }
  }

html{
  
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;

    @include mobile {
      scroll-snap-type: y proximity;
      scroll-behavior: auto;
    } 
}
